@font-face {
    font-family: 'Baldi-one';
    src: url(../fonts/Bladi\ One\ Slab\ 4F\ Bold\ Italic.otf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Agrandir-Regular';
    src: url(../fonts/Agrandir-Regular.otf);
}

@font-face {
    font-family: 'Agrandir-TextBold';
    src: url(../fonts/Agrandir-TextBold.otf);
}

@font-face {
    font-family: 'Agrandir-Bold';
    src: url(../fonts/Agrandir-Bold.otf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.357);
    backdrop-filter: blur(10px)
}

.navbar-logo {
    width: 107px;
    height: 86px;

}

.search-container {
    position: relative;


}

.search-icon-container {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-icon {
    color: white;
}

.search-input-navbar {
    padding: 20px 80px 20px 20px;
    width: 300px;
    border-radius: 24px;
    background-color: #F5F5F5 !important;
    border: 1px solid #F1F1F1 !important;
}

.search-input-navbar::placeholder {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;
}

.navbar-link {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;


}

.navbar-link-contact {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid black !important;
    background-image: url(../images/b4d53396670aca7f473db5328606cd25.png);
    padding: 10px 15px;
    border-radius: 24px;
}



.index-hero-heading {
    font-family: 'Baldi-one';
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;
}

.index-hero-second-heading .first {
    font-family: 'Agrandir-Regular';
    font-size: 18px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;
}

.index-hero-second-heading .second {
    font-family: 'Agrandir-Regular';
    font-size: 18px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #EA0000 !important;
}

.index-hero-third-heading .second {
    font-family: 'Agrandir-Regular';
    font-size: 18px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;
}

.index-hero-third-heading .first {
    font-family: 'Agrandir-Regular';
    font-size: 18px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #EA0000 !important;
}

.index-animated-first-img {
    max-width: 431px;
    max-height: 336px;
    width: 100%;
    height: 100%;
    transform: rotate(343deg);

}

.footer-links {
    width: 51.99px;
    height: 51.99px;
}

@media (max-width:500px) {

    .index-animated-first-img {
        max-width: 360px;
        max-height: 336px;
        width: 100%;
        height: 100%;
        transform: rotate(343deg);

    }
}

@media (max-width:410px) {

    .index-animated-first-img {
        max-width: 300px;
        max-height: 336px;
        width: 100%;
        height: 100%;
        transform: rotate(343deg);

    }
}

@media (max-width:410px) {

    .index-animated-first-img {
        max-width: 260px;
        max-height: 336px;
        width: 100%;
        height: 100%;
        transform: rotate(343deg);

    }
}

@media (max-width:400px) {
    .index-hero-heading {
        font-family: 'Baldi-one';
        font-size: 34px;
        font-style: italic;
        font-weight: 400;
        line-height: 70px;
        letter-spacing: 5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black !important;
    }

    .index-hero-third-heading .second {
        font-family: 'Agrandir-Regular';
        font-size: 16px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 20px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black !important;
    }

    .index-hero-third-heading .first {
        font-family: 'Agrandir-Regular';
        font-size: 16px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 20px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        color: #EA0000 !important;
    }
}

.index-first-btn {
    background-color: #767875 !important;
    padding: 10px 25px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
    text-decoration: none !important;
    transition: border-radius 0.7s ease;
}

.index-first-btn-second {
    background-color: #767875 !important;
    padding: 10px 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
    position: relative;
    left: -10px;
    transition: border-radius 0.7s ease;
}

.button-container-index {
    margin: 0;
    padding: 0;
    gap: 0;
    display: flex;
}

.button-container-index:hover .index-first-btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: black !important;
}

.button-container-index:hover .index-first-btn-second {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: black !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    /* color: var(--bs-btn-active-color); */
    /* background-color: var(--bs-btn-active-bg); */
    border-color: transparent !important;
}

.index-hero-fouth-heading-first,
.index-hero-fouth-heading-second,
.index-hero-fouth-heading-third {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: fit-content;
    background-color: black !important;
    padding: 10px 20px;
    border-radius: 24px;
    color: white;
    margin: 0 auto;
    transform: translateX(-50%);
    position: relative;
    z-index: 1;
}

.index-hero-fouth-heading-first {
    top: -321px;
    left: 59%;
}

.index-hero-fouth-heading-second {
    top: -321px;
    left: 45%;
}

.index-hero-fouth-heading-third {
    margin-top: -300px !important;
    left: 38%;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .index-hero-fouth-heading-first {
        left: 27%;
    }

    .index-hero-fouth-heading-second {
        left: 17%;
    }

    .index-hero-fouth-heading-third {
        left: 12%;
    }
}

@media (max-width: 500px) {
    .index-hero-fouth-heading-first {
        left: 45%;
    }

    .index-hero-fouth-heading-second {
        left: 27%;
    }

    .index-hero-fouth-heading-third {
        left: 23%;
    }
}

.background-image {
    background-image: url(../images/hero\ section\ animation\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0px 0 0;
    width: 100%;
    transition: all 1s ease;
}



@keyframes slide {
    from {
        transform: translateX(0);

    }

    to {
        transform: translateX(-100%);

    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    content: "";
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 2;
}

.logos:before {
    left: 0;
}

.logos:after {
    right: 0;
}


.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
    margin-bottom: 100px;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
}


.main-content {
    position: relative;
    width: 100%;
}



.page5 {
    background-image: url(../images/44151df52cb2e2118d5772601438d925.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 100vh;
}

.index-second-row-para {
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    text-align: justify;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.index-second-row-second-heading {
    font-family: 'Agrandir-TextBold';
    font-size: 36px;
    font-weight: 800;
    line-height: 46.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EA0000;
}

.index-second-row-third-heading {
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
    width: 355px;
    max-width: 100%;
}

.index-second-row-heading-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.index-second-row-heading-number {
    width: 45px;
    height: 45px;
    border-radius: 200px;
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 700;
    line-height: 47.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: #767875 !important;
    color: white;
}

.content-circle {
    max-width: 466px !important;
    height: 466px !important;
    width: 100%;
    height: 100%;
    background-color: #F5F5EF !important;
    border-radius: 50%;
    border: 0.4px solid #000000;
}

.content-circle-img {
    width: 135px;
    height: 118px;
}






/* portfolio section */

.portfolio-heading {
    font-family: 'Agrandir-TextBold';
    font-size: 36px;
    font-weight: 800;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EA0000;
}


.portfolio-tab-row {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 24px;
    max-width: 263px;
    width: 100%;
    cursor: pointer;
    background-color: white;
    /* Default background color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.portfolio-tab-row.active {
    background-color: #E90102;
    color: white;
}

.portfolio-tab-row span {
    font-family: 'Agrandir-Regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.portfolio-tab-row:hover {
    background-color: #E90102;
    color: white;
}

.tab-pane {
    transition: opacity 0.3s ease-in-out;
}

.masonry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Default layout */
    grid-gap: 16px;
    /* Gap between items */
    grid-auto-rows: 223px;
    /* Fixed row height */
    grid-auto-flow: dense;
    /* Fill gaps dynamically */
}

.masonry-item {
    background-color: #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    height: 100%;
    /* Full height of the row */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Width rules for items */
.masonry-item:nth-child(odd) {
    grid-column: span 2;
    /* Occupies 2 columns */
}

.masonry-item:nth-child(3n) {
    grid-column: span 1;
    /* Occupies 1 column */
}

/* Responsive Design Adjustments */
@media (max-width: 500px) {
    .masonry-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        /* Smaller columns */
        grid-gap: 8px;
        /* Reduce gap for smaller screens */
        grid-auto-rows: 123px;
        /* Smaller row height */
    }
}

@media (min-width: 592px) {
    .masonry-grid {
        grid-template-columns: repeat(4, 1fr);
        /* Four equal columns for larger screens */
    }

    .masonry-item:nth-child(3n) {
        grid-column: span 1;
        /* Maintain single column span for every 3rd item */
    }
}




/* demo-section */

.demo-section {
    min-height: 100vh;
    height: 100%;
    background-color: #f5f5f5;
    /* Fallback color */
    background-image: none;
    /* Start with no visible background */
    background-size: 0%;
    /* Initial scale set to 0 */
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 1s ease;
    overflow: hidden;
}

.demo-section:hover {
    animation: scaleIn 2s forwards ease-in-out;
    background-image: url('../images/Free Demo Background.png');
}

/* Keyframes for Scaling Effect */
@keyframes scaleIn {
    0% {
        background-size: 0%;
        background-image: none;
    }

    50% {
        background-size: 50%;
        opacity: 1;
    }

    100% {
        background-size: 100%;
        opacity: 1;
    }
}

.demo-section-content-container {
    background-color: white !important;
    padding: 10px;
}

.demo-section-first-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 300;
    line-height: 46.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EA0000 !important;
}

.demo-section-second-heading {
    font-family: 'Agrandir-Regular';
    font-size: 70px;
    font-weight: 800;
    line-height: 91px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #767875 !important;
}

@media (max-width: 768px) {
    .demo-section-second-heading {
        font-size: 40px;
    }
}

.demo-section-third-heading {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

/* blog-section */

.index-blog-section {
    background-image: url(../images/portfolio\ 2.png);
    /* height: 100vh; */
    border-radius: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.blog-section-first-heading {
    font-family: 'Agrandir-TextBold';
    font-size: 36px;
    font-weight: 800;
    line-height: 46.8px;
    letter-spacing: -0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

.blog-section-select {
    max-width: 214px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 24px;
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
}

.blog-section-select option {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.index-blog-section-img {
    min-width: 439.41px;
    min-height: 360px;
    width: 100%;
    height: 100%;
    border-radius: 30px;


}

@media (max-width:450px) {
    .index-blog-section-img {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
}

/* footer */

.footer {
    background-color: #F5F5EF !important;
}

.footer-main-headng {
    font-family: 'Agrandir-TextBold';
    font-size: 100.65px;
    font-weight: 800;
    line-height: 180.24px;
    text-align: center;
    text-decoration-skip-ink: none;
    color: #767875;
}

@media (max-width:650px) {
    .footer-main-headng {
        font-family: 'Agrandir-TextBold';
        font-size: 50.65px !important;
        font-size: 500px;
        font-weight: 800;
        line-height: 70px;
        text-align: center;
        text-decoration-skip-ink: none;
        color: #767875;
    }
}

.footer-col-headng-first {
    font-family: 'Agrandir-TextBold';
    font-size: 30px;
    font-weight: 800;
    line-height: 39px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EA0000;
}

.footer-col-headng-second {
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #767875;
}

.footer-col-headng-third {
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EA0000 !important;
}

.footer-last-heading {
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #767875;
}




/* service page */
.service-heading {
    font-family: 'Agrandir-textbold';
    font-size: 36px;
    font-weight: 800;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EA0000 !important;
}



.services-row-heading {
    font-family: 'Agrandir-textbold';
    font-size: 36px;
    font-weight: 800;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

@media (max-width: 470px) {
    .services-row-heading {
        font-size: 20px !important;
    }
}

.services-rows {
    border: 2px solid #000000;
    padding: 10px 20px 0 20;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.service-row-arrow {
    font-size: larger;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
}

.services-rows:hover {
    background-color: red;
    border: none;
    transition: all 0.3s ease-in-out;
}

.services-rows:hover .service-row-arrow {
    font-size: larger;
    color: white;
    transform: rotate(-45deg);

}

.services-rows:hover .services-row-heading {
    font-family: 'Agrandir-textbold';
    font-size: 36px;
    font-weight: 800;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.services-rows:hover .service-row-end-heading {
    font-family: 'Agrandir-Regular';
    font-size: 25px;
    font-weight: 400;
    line-height: 32.5px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.globe-service-img {
    width: 351px;
    height: 140px;
    position: relative;
    bottom: 0;
    left: 100px;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

@media (max-width:992px) {
    .globe-service-img {
        left: 0px;
        display: none;
    }
}

.services-rows:hover .globe-service-img {
    transform: translateY(0);
    opacity: 1;
}

.service-row-end-heading {
    font-family: 'Agrandir-Regular';
    font-size: 25px;
    font-weight: 400;
    line-height: 32.5px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}





/* about-us */

.about-background {
    background-color: #EA0000 !important;
    background-size: cover;
    width: 100%;
}

.about-first-heading {
    font-family: 'Agrandir-TextBold';
    font-size: 100px;
    font-weight: 800;
    line-height: 130px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

@media (max-width:630px) {
    .about-first-heading {
        font-family: 'Agrandir-TextBold';
        font-size: 62px;
        font-weight: 800;
        line-height: 130px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
    }

}

.about-second-heading {
    font-family: 'Agrandir-Regular';
    font-size: 34px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}



.about-third-heading span {
    font-family: 'Agrandir-Bold';
    font-size: 36px;
    font-weight: 800;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.about-third-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 500;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.about-fouth-heading {
    font-family: 'Baldi-one';
    font-size: 90px;
    font-style: italic;
    font-weight: 400;
    line-height: 130px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

@media (max-width:600px) {
    .about-fouth-heading {
        font-family: 'Baldi-one';
        font-size: 60px;
        font-style: italic;
        font-weight: 400;
        line-height: 85px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

}

@media (max-width:400px) {
    .about-first-heading {
        font-family: 'Agrandir-TextBold';
        font-size: 48px;
        font-weight: 800;
        line-height: 70px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
    }

    .about-fouth-heading {
        font-family: 'Baldi-one';
        font-size: 48px;
        font-style: italic;
        font-weight: 400;
        line-height: 70px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

}



.about-fouth-heading .first {
    color: white !important;
}

.about-fouth-heading .second {
    color: black !important;
}

.image-container {
    overflow: hidden;
    display: inline-block;
    position: relative;
    max-width: 466px;
    max-height: 576px;
    width: 100%;
    height: 100%;
}

.about-first-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.7s ease-in-out;
}

.image-container:hover .about-first-img {
    transform: scale(1.1);
}

.about-second-row-para {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

.about-second-row-para-second {
    font-family: 'Agrandir-Bold';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

.about-fourth-row-para {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

.about-fourth-row-heading {
    font-family: 'Agrandir-TextBold';
    font-size: 100px;
    font-weight: 800;
    line-height: 130px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

@media (max-width:630px) {

    .about-fourth-row-heading {
        font-family: 'Agrandir-TextBold';
        font-size: 60px;
        font-weight: 800;
        line-height: 70px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white !important;
    }
}

@media (max-width:400px) {

    .about-fourth-row-heading {
        font-family: 'Agrandir-TextBold';
        font-size: 48px;
        font-weight: 800;
        line-height: 70px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white !important;
    }
}


.partners-img-about {
    max-width: 293px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    filter: brightness(0.5) saturate(2) contrast(1.2);
}

.partners-img-about-container:hover .partners-img-about {
    transform: scale(1.3);
    filter: brightness(1) saturate(1) contrast(1);
}

/* blog-page */

.blog-first-container {
    background-color: black;
    width: 100% !important;
    height: 100% !important;
}

.blog-tab {
    background-color: transparent !important;
    border: 1px solid white;
    border-radius: 24px;
    padding: 10px 18px !important;
    min-width: 75px !important;
    height: fit-content;
    transition: all 0.5s ease;
    width: fit-content;
}

.blog-tab-heading {
    font-family: 'Agrandir-Regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: -0.02em;
    text-align: center !important;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
    transition: all 0.5s ease;
}

.blog-tab:hover {
    background-color: white !important;
}

.blog-tab:hover .blog-tab-heading {
    color: #EA0000 !important;
}

.blog-tab.active {
    background-color: white !important;
}

.blog-tab.active .blog-tab-heading {
    color: #EA0000 !important;
}


.search-icon-container-blog {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.search-input-blog {
    padding: 10px 20px;
    min-width: 285px;
    width: 100%;
    border-radius: 24px;
    background-color: transparent !important;
    border: 1px solid #F1F1F1 !important;
    color: white !important;
}

.search-input-blog::placeholder {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

.search-icon-blog {
    color: white;
}

.blog-tab-first-heading {
    font-family: 'Agrandir-Regular';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.blog-first-tab-row {
    background-color: white !important;
    padding: 10px 20px;
    border-radius: 24px;
    position: relative;
    /* Enables layering */
    overflow: hidden;
    /* Ensures pseudo-element stays within bounds */
    transition: all 0.3s ease-in-out;
}

.blog-first-tab-row::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/8ac9e47a6d3e4b0d2846d9bb3957f5be.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 0;
}

.blog-first-tab-row:hover::before {
    opacity: 1;
    /* Fully visible on hover */
}

.blog-first-tab-row>* {
    position: relative;
    z-index: 1;
    /* Keeps the content above the background image */
}

.blog-first-row-first-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 300;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #767875 !important;
}

.blog-first-row-second-heading {
    font-family: 'Agrandir-TextBold';
    font-size: 96px;
    font-weight: 800;
    line-height: 130px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EA0000 !important;
}

.blog-first-row-third-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;
}

.blog-first-row-img {
    width: 82px;
    height: 82px;
    border-radius: 50%;


}

.blog-first-row-name-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;
}

.blog-first-tab-row:hover .blog-first-row-third-heading,
.blog-first-tab-row:hover .blog-first-row-first-heading,
.blog-first-tab-row:hover .blog-first-row-name-heading {
    color: white !important;
}

.blog-first-row-icon-container {
    background-color: #EA0000 !important;
    max-width: 55px;
    max-height: 55px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-first-row-icon {
    text-align: center;
    font-size: 32px;
    color: white !important;
    transition: all 0.3s ease-in-out;
}

.blog-first-row-icon-container:hover {
    background-color: black !important;
}

.blog-first-row-icon-container:hover .blog-first-row-icon {
    transform: rotate(-45deg);
}

@media (max-width:768px) {
    .blog-first-row-second-heading {
        font-family: 'Agrandir-TextBold';
        font-size: 46px;
        font-weight: 800;
        line-height: 70px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #EA0000 !important;
    }
}

@media (max-width:400px) {
    .blog-first-row-second-heading {
        font-family: 'Agrandir-TextBold';
        font-size: 36px;
        font-weight: 800;
        line-height: 70px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #EA0000 !important;
    }
}

.blog-second-row-heading {
    font-family: 'Agrandir-Regular';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000 !important;
}

.blog-second-row-col-img {
    max-width: 392px;
    width: 100%;
    height: 291.87px;
    height: 100%;
}

.blog-card-data-container {
    background-color: #D9D9D9 !important;
    padding: 10px 20px;
    max-width: 392px;
    width: 100%;
}

.blog-card-data-first-heading {
    font-family: 'Agrandir-bold';
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.blog-card-data-second-heading {
    font-family: 'Agrandir-Regular';
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #767875 !important;
}

.blog-card-user-img {
    width: 42px;
    height: 42px;


}

.blog-card-user-name {
    font-family: 'Agrandir-bold';
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.blog-card-button {
    background-color: #00000066 !important;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 24px;
    font-family: 'Agrandir-Regular';
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transition: all 0.3s ease-in-out;

}

.blog-card-button:hover {
    background-color: transparent !important;
    color: #EA0000;
}

.upload-date-blog-card {
    position: relative;
    top: 50px;
    left: 10px;
    padding: 10px 20px;
    border-radius: 24px;
    border: 1px solid white;
    font-family: 'Agrandir-Regular';
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

.blog-third-section {
    background-color: #EA0000 !important;
    padding: 10px 20px;
}

.blog-third-row-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 700;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

.blog-third-row-second-heading {
    font-family: 'Agrandir-Regular';
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F5F5EF !important;
}

.blog-third-row-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.blog-third-row-icon-img {
    width: 53.74px;
    height: 53.74px;
}

.blog-third-row-icon:hover {
    width: 130px;
    height: 100px;
    border-radius: 300px;
}

.blog-third-row-third-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.blog-thrid-row-checkbox {
    width: 40px;
    height: 40px;
    border: none;
    color: black;
}

.blogs-first-heading {
    font-family: 'Agrandir-textbold';
    font-size: 100px;
    font-weight: 800;
    line-height: 130px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EA0000 !important;
}

.blogs-second-heading {
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 24px;
}

.blogs-first-user-image {
    width: 82px;
    height: 82px;
    border-radius: 50%;

}

.blogs-first-name {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F5F5EF;
}

@media (max-width: 767px) {
    .blogs-first-heading {
        font-family: 'Agrandir-textbold';
        font-size: 48px;
        font-weight: 800;
        line-height: 70px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #EA0000 !important;
    }
}

.blogs-second {
    background-color: white !important;
    padding: 20px 20px;
    border-radius: 24px;
}

.blogs-big-para {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.blogs-QA .question {
    font-family: 'Agrandir-textbold';
    font-size: 24px;
    font-weight: 800;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EA0000 !important;
}

.blogs-QA .answer {
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.other-blogs-container {
    background-color: #EA0000 !important;
    padding: 10px 20px;
}

.blogs-thrid-row-first-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.blogs-thrid-row-second-heading {
    font-family: 'Agrandir-Textbold';
    font-size: 100px;
    font-weight: 800;
    line-height: 130px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

@media (max-width:525px) {
    .blogs-thrid-row-second-heading {
        font-family: 'Agrandir-Textbold';
        font-size: 50px;
        font-weight: 800;
        line-height: 70px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white !important;
    }
}

/* single service page  */


.service-first-container {
    background-color: #EA0000 !important;
    width: 100%;
    height: 100%;
}

.servives-first-heading {
    font-family: 'Agrandir-Regular';
    font-size: 100px;
    font-weight: 400;
    line-height: 130px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

@media (max-width:768px) {
    .servives-first-heading {
        font-family: 'Agrandir-Regular';
        font-size: 48px;
        font-weight: 400;
        line-height: 70px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white !important;
    }
}

.small-services-first-heading {
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 300;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;

}

.services-second-row-col {
    background-image: url(../images/44b5693ea076d9cc5dc5c4db7563eda0.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 756px;
    min-height: 583px;
    height: auto;
    transition: filter 0.3s ease;
    /* Smooth transition for the filter */
}

.services-second-row-col:hover {
    filter: grayscale(1) brightness(0.8);
    /* Grayscale and slightly reduced darkness */
}



.services-second-row-col-first-heading {
    font-family: 'Agrandir-Regular';
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.services-second-row-col-second-heading {
    font-family: 'Agrandir-Regular';
    font-size: 70px;
    font-weight: 400;
    line-height: 91px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: black;
}

.services-name .services {
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.services-third-row-first-heading {
    font-family: 'Agrandir-bold';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.services-third-row-second-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EA0000;

}

.services-third-row-third-heading {
    font-family: 'Agrandir-textbold';
    font-size: 100px;
    font-weight: 800;
    line-height: 130px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


}

@media (max-width:768px) {
    .services-third-row-third-heading {
        font-family: 'Agrandir-textbold';
        font-size: 48px;
        font-weight: 800;
        line-height: 70px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;


    }
}

.services-falto-img {
    max-width: 466px;
    max-height: 576px;
    width: 100%;
    height: 100%;
    color: white;
    transition: transform 0.6s ease;
}

.services-falto-img:hover {
    transform: scale(0.9);
}

.falto-img-text {
    position: relative;
    top: 60px;
    left: 10px;
    font-family: 'Agrandir-Regular';
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

.services-details-container {
    background-color: #F5F5EF !important;
    padding: 10px 10px 0 30px;
    border-radius: 24px;
}

@media (min-width:991px) {
    .services-details-container {
        width: 55.333333%;
    }
}

.collapse-service-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.collapse-service-container {
    position: relative;
    border-bottom: 1px solid black;
    overflow: hidden;
    /* transition: background-color 0.5s ease-in-out; */
}

.collapse-service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 30px 20px 20px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.collapse-service:hover .collapse-service-heading {
    color: white;
}

.collapse-service::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
    z-index: 0;
}

.collapse-service:hover::before {
    transform: scale(1);
}

.collapse-service-heading {
    position: relative;
    z-index: 1;
    color: black;
    transition: color 0.3s ease;
    margin: 0;
    padding-right: 10px;
}

.services-icon-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-icon-right {
    background-color: #767875 !important;
    height: 43px;
    width: 43px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease;
    font-size: 24px;
}

.collapse-service:hover .services-icon-right {
    background-color: white !important;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    font-size: 34px;
}

.collapse-content {
    padding: 0px 20px;
}

.collapse-service-container.show {
    background-color: red;
}

.collapse-service-container.show .collapse-service-heading {
    color: white;
}

.collapse-service-container.show .services-icon-right {
    transform: rotate(90deg);
    background-color: white;
}


/* portfolio page  */
.portfolio-first-container {
    background-color: white;
}

.potfolio-first-heading {
    font-family: 'Agrandir-TextBold';
    font-size: 70px;
    font-weight: 800;
    line-height: 91px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@media (max-width:1200px) {
    .potfolio-first-heading {
        font-family: 'Agrandir-TextBold';
        font-size: 60px;
        font-weight: 800;
        line-height: 91px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}

@media (max-width:992px) {
    .potfolio-first-heading {
        font-family: 'Agrandir-TextBold';
        font-size: 43px;
        font-weight: 800;
        line-height: 81px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}

@media (max-width:768px) {
    .potfolio-first-heading {
        font-family: 'Agrandir-TextBold';
        font-size: 33px;
        font-weight: 800;
        line-height: 41px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        flex-wrap: wrap;
    }
}

.potfolio-first-heading .first {
    color: white;
    transition: color 1s ease;
}

.potfolio-first-heading .second,
.portfolio-second-heading {
    color: black;
    transition: color 1s ease;
}

.potfolio-first-heading.text-transition .second {
    color: red;
}

.potfolio-first-heading.text-transition .first {
    color: black;
}

.portfolio-second-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 300;
    line-height: 46.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    transition: color 1s ease;
}

.portfolio-second-heading.text-transition {
    color: red;
}

.portfolio-third-heading {
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 300;
    line-height: 31.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.sas-first-heading {
    font-family: 'Agrandir-textbold';
    font-size: 90px;
    font-style: italic;
    font-weight: 900;
    line-height: 130px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F5F5EF !important;

}

.sas-first-heading span {
    font-family: 'Agrandir-Regular';
    font-size: 90px;
    font-weight: 300;
    line-height: 130px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F5F5EF !important;
}

@media (max-width:768px) {
    .sas-first-heading {
        font-family: 'Agrandir-textbold';
        font-size: 48px;
        font-style: italic;
        font-weight: 900;
        line-height: 70px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #F5F5EF !important;
    }

    .sas-first-heading span {
        font-family: 'Agrandir-Regular';
        font-size: 48px;
        font-weight: 300;
        line-height: 70px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #F5F5EF !important;
    }
}

@media (max-width:400px) {
    .sas-first-heading {
        font-family: 'Agrandir-textbold';
        font-size: 37px;
        font-style: italic;
        font-weight: 900;
        line-height: 70px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #F5F5EF !important;
    }

}

.sas-second-heading {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

.sas-first-button {
    font-family: 'Montserrat-Regular';
    font-size: 36px;
    font-weight: 500;
    line-height: 50.4px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
    background-color: transparent !important;
    border: 1px solid white !important;
    padding: 10px 20px;
    border-radius: 50px;
}

.sas-first-button:hover {
    background-color: white !important;
    color: #EA0000 !important;
    font-family: 'Montserrat-Regular';
    font-size: 36px;
    font-weight: 500;
    line-height: 50.4px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid white !important;
    padding: 10px 20px;
    border-radius: 50px;
}

.sas-first-img {
    max-width: 322px;
    max-height: 363px;
    width: 100%;
    height: 100%;
}

.image-container:hover .sas-first-img {
    max-width: 360px;
    max-height: 380px;
}

.sas-project-card {
    background-color: white !important;
    padding: 10px 20px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    transition: all 0.3s ease-in-out;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sas-project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/6b56fd5464202a50a13179b243ce2cc7.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 0;
}

.sas-project-card:hover::before {
    opacity: 1;
}

.sas-project-card>* {
    position: relative;
    z-index: 1;
}

.sas-project-card-heading {
    font-family: 'Agrandir-textbold';
    font-size: 100px;
    font-weight: 800;
    line-height: 130px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EA0000 !important;
    transition: all 0.3s ease;
}

.sas-project-card:hover .sas-project-card-heading {
    color: white !important;
}

.saas-images-container {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.saas-card-image-first {
    max-width: 500px;
    max-height: 324px;
    transition: all 0.5s ease;
}

.sas-project-card:hover .saas-images-container {
    max-height: 600px;
    opacity: 1;
}

.saas-card-para {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transition: all 0.3s ease-in-out;
}

.sas-project-card:hover .saas-card-para {
    font-family: 'Agrandir-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.saas-card-link {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;
}

.sas-project-card:hover .saas-card-link {
    font-family: 'Agrandir-Regular';
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

.saas-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #EA0000 !important;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sas-project-card:hover .saas-link-icon {
    transform: scale(1.1);
}

.flip-container {
    width: 200px;
    height: 200px;
    background-color: #EA0000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    perspective: 400px;
    /* Add perspective for 3D effect */
    margin-top: 100vh;
    /* Place the element lower to trigger animation */
}

.flip-element {
    /* No initial transform or opacity is needed here */
}