@font-face {
    font-family: 'Baldi-one';
    src: url(../fonts/Bladi\ One\ Slab\ 4F\ Bold\ Italic.otf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Agrandir-Regular';
    src: url(../fonts/Agrandir-Regular.otf);
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    /* height: 150vh; */
}

.navbar {
    /* background-color: rgba(255, 255, 255, 0.434); */
    backdrop-filter: blur(24px)
}

.navbar-logo {
    width: 107px;
    height: 86px;

}

.search-container {
    position: relative;
}

.search-icon-container {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    color: white;
}

.search-input-navbar {
    padding: 20px 20px;
    width: 300px;
    border-radius: 24px;
    background-color: #F5F5F5 !important;
    border: 1px solid #F1F1F1 !important;
}

.search-input-navbar::placeholder {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;
}

.navbar-link {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;


}

.navbar-link-contact {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid black !important;
    background-image: url(../images/b4d53396670aca7f473db5328606cd25.png);
    padding: 10px 15px;
    border-radius: 24px;
}

.background-image {
    background-image: url(../images/hero\ section\ animation\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
    padding: 30px 4px;
    /* width: 100%; */
}

.index-hero-heading {
    font-family: 'Baldi-one';
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;
}

.index-hero-second-heading .first {
    font-family: 'Agrandir-Regular';
    font-size: 18px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;
}

.index-hero-second-heading .second {
    font-family: 'Agrandir-Regular';
    font-size: 18px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #EA0000 !important;
}

.index-hero-third-heading .second {
    font-family: 'Agrandir-Regular';
    font-size: 18px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black !important;
}

.index-hero-third-heading .first {
    font-family: 'Agrandir-Regular';
    font-size: 18px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #EA0000 !important;
}

.index-animated-first-img {
    max-width: 431px;
    max-height: 336px;
    width: 100%;
    height: 100%;
    transform: rotate(343deg);

}

@media (max-width:500px) {

    .index-animated-first-img {
        max-width: 360px;
        max-height: 336px;
        width: 100%;
        height: 100%;
        transform: rotate(343deg);

    }
}

@media (max-width:410px) {

    .index-animated-first-img {
        max-width: 300px;
        max-height: 336px;
        width: 100%;
        height: 100%;
        transform: rotate(343deg);

    }
}

@media (max-width:410px) {

    .index-animated-first-img {
        max-width: 260px;
        max-height: 336px;
        width: 100%;
        height: 100%;
        transform: rotate(343deg);

    }
}

@media (max-width:400px) {
    .index-hero-heading {
        font-family: 'Baldi-one';
        font-size: 34px;
        font-style: italic;
        font-weight: 400;
        line-height: 70px;
        letter-spacing: 5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black !important;
    }

    .index-hero-third-heading .second {
        font-family: 'Agrandir-Regular';
        font-size: 16px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 20px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black !important;
    }

    .index-hero-third-heading .first {
        font-family: 'Agrandir-Regular';
        font-size: 16px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 20px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        color: #EA0000 !important;
    }
}

.index-first-btn {
    background-color: #767875 !important;
    padding: 10px 25px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
    text-decoration: none !important;
    transition: border-radius 0.7s ease;
}

.index-first-btn-second {
    background-color: #767875 !important;
    padding: 10px 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
    position: relative;
    left: -10px;
    transition: border-radius 0.7s ease;
}

.button-container-index {
    margin: 0;
    padding: 0;
    gap: 0;
    display: flex;
}

.button-container-index:hover .index-first-btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: black !important;
}

.button-container-index:hover .index-first-btn-second {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: black !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    /* color: var(--bs-btn-active-color); */
    /* background-color: var(--bs-btn-active-bg); */
    border-color: transparent !important;
}

.index-hero-fouth-heading-first {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: fit-content;
    background-color: black !important;
    padding: 10px 20px;
    border-radius: 24px;
    color: white;
    margin: 0 auto;
    transform: translateX(-50%);
    position: relative;
    top: -321px;
    left: 59%;
}

.index-hero-fouth-heading-second {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: fit-content;
    background-color: black !important;
    padding: 10px 20px;
    border-radius: 24px;
    color: white;
    margin: 0 auto;
    transform: translateX(-50%);
    position: relative;
    top: -321px;
    left: 45%;
}

.index-hero-fouth-heading-third {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: fit-content;
    background-color: black !important;
    padding: 10px 20px;
    border-radius: 24px;
    color: white;
    margin: 0 auto;
    transform: translateX(-50%);
    position: relative;
    top: -321px;
    left: 40%;
}

@media (max-width:992px) {
    .index-hero-fouth-heading-first {
        width: fit-content;
        max-width: 90%;
        background-color: black !important;
        padding: 10px 20px;
        border-radius: 24px;
        color: white;
        margin: 0 auto;
        transform: translateX(-50%);
        position: relative;
        top: -321px;
        left: 27%;
    }

    .index-hero-fouth-heading-second {
        width: fit-content;
        max-width: 90%;
        background-color: black !important;
        padding: 10px 20px;
        border-radius: 24px;
        color: white;
        margin: 0 auto;
        transform: translateX(-50%);
        position: relative;
        top: -321px;
        left: 17%;
    }

    .index-hero-fouth-heading-third {
        width: fit-content;
        max-width: 90%;
        background-color: black !important;
        padding: 10px 20px;
        border-radius: 24px;
        color: white;
        margin: 0 auto;
        transform: translateX(-50%);
        position: relative;
        top: -321px;
        left: 12%;
    }
}

@media (max-width:500px) {
    .index-hero-fouth-heading-first {
        width: fit-content;
        max-width: 90%;
        background-color: black !important;
        padding: 10px 20px;
        border-radius: 24px;
        color: white;
        margin: 0 auto;
        transform: translateX(-50%);
        position: relative;
        top: -321px;
        left: 45%;
    }

    .index-hero-fouth-heading-second {
        width: fit-content;
        max-width: 90%;
        background-color: black !important;
        padding: 10px 20px;
        border-radius: 24px;
        color: white;
        margin: 0 auto;
        transform: translateX(-50%);
        position: relative;
        top: -321px;
        left: 27%;
    }

    .index-hero-fouth-heading-third {
        width: fit-content;
        max-width: 90%;
        background-color: black !important;
        padding: 10px 20px;
        border-radius: 24px;
        color: white;
        margin: 0 auto;
        transform: translateX(-50%);
        position: relative;
        top: -321px;
        left: 25%;
    }
}